.dashboard-grid {
    width:100%;
    display:grid;
    gap: 1rem;
    grid-template-columns: 1fr 1fr 1fr
}

.boxplot {
    grid-column: 1 / span 2
}

.status-bar-container {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .status-bar-title {
    display: flex;
    justify-content: center;
  }
  
  .status-bar {
    flex-grow: 3;
  }