/* google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&family=VT323&display=swap");

:root {
  --bright-peach:#f27757;
  --soft-peach: #fff7f6;
  --dark-peach: #d96b4e;
  --complementary-dark-peach: #57d2f2;
  --cancel-peach: #f25785;
  --darkest-peach: #bd5e45;
  --dark-cancel-peach: #d94e77
}

/* layout */
:root {
  font-size: 16px;
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Montserrat";
}

/* STUDENTS PAGE AND NAVBAR */
header {
  background: var(--soft-peach);
}

header .nav-bar {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #2e2c2c;
  text-decoration: none;
}

.pages {
  max-width: 98vw;
  padding: 20px;
  margin: 0 auto;
}

.home {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
}

.classroom-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgb(254, 236, 236);
}

.classroom-details p {
  margin: 0;
  font-size: 0.9em;
  color: #6b6a6a;
}

.visibility-buttons {
  border-radius: 50%;
  color:var(--dark-peach);
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: var(--soft-peach);
  padding: 6px;
}

.visibility-buttons:hover {
  background-color:var(--dark-peach);
  opacity:40%;
  color:var(--soft-peach)
}

.delete-button {
  border-radius: 50%;
  color:var(--dark-peach);
  cursor: pointer;
  background: var(--soft-peach);
  padding: 6px;
  border-style: none;
}

.student-details {
  background-color: #f0f0f0;
  padding: 0.5rem;
  border: 1px solid #ccc;
}

.birthday {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 1.5rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.logo {
  max-height: 150px;
}

h1 {
  font-size: 200px;
  font-family: "Lobster Two", cursive;
}

h3 {
  font-family: "Lobster Two", cursive;
  display:flex;
  justify-content: center;
}

li::marker {
  color: var(--bright-peach);
}

/* MODALS */

.input-field {
  padding: 1rem;
  padding-top: 0;
}