/* google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&family=VT323&display=swap");

/* layout */
:root {
  --primary: #055ec3;
  --error: #e7195a;
  font-size: 16px
}

body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Montserrat";
}

header {
  background: #fff;
}

header .nav-bar {
  max-width: 100%;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header a {
  color: #2e2c2c;
  text-decoration: none;
}

.pages {
  max-width: 98vw;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 1fr 5fr;
  gap: 1rem;
}

.classroom-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.classroom-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.classroom-details p {
  margin: 0;
  font-size: 0.9em;
  color: #6b6a6a;
}

.classroom-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #e2e1e1;
  padding: 6px;
  border-radius: 50%;
  color: #252525;
}

label,
input {
  display: block;
}

input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}

div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

.students-grid {
  /* display:grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 2fr));
  gap: .25rem; */
}

.student-details {
  background-color: #f0f0f0;
  padding: 0.5rem;
  border: 1px solid #ccc;
  /* display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr */
}

.student-details > p {
  padding: 0.25rem;
}

table {
  /* border:1px solid; */
  width: 100%;
  border-collapse: collapse;
  padding: 1rem;
}

th,
tr,
td {
  border: 1px solid black !important;
  padding: 0.5rem;
}

.slider-container {
  display: flex;
  gap: 10px;
}

.waitlist-status-bar {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.status-square {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.birthday {
  text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #231557 0%,
    #44107a 29%,
    #ff1361 67%,
    #fff800 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 1.5rem;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.logo {
  max-height: 150px;
}

h1 {
  font-size: 200px;
  font-family: "Lobster Two", cursive;
}

h3 {
  font-family: "Lobster Two", cursive
}

.status-bar-container {
  display:flex;
  gap: 5px;
  align-items:center
}

.status-bar-title {
  display:flex;
  justify-content: center;
}

.status-bar {
  flex-grow: 3
}