/* google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;800&family=VT323&display=swap');

/* layout */
:root {
  --primary: #055ec3;
  --error: #e7195a;
}
body {
  background: #f1f1f1;
  margin: 0;
  font-family: "Montserrat";
}
header {
  background: #fff;
}
header .container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header a {
  color: #2e2c2c;
  text-decoration: none;
}

.pages{
  max-width: 1400px;
  padding: 20px;
  margin: 0 auto;
}

/* homepage */
.home {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

.classroom-details {
  background: #fff;
  border-radius: 4px;
  margin: 20px auto;
  padding: 20px;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}

.classroom-details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.classroom-details p {
  margin: 0;
  font-size: 0.9em;
  color: #6b6a6a;
}

.classroom-details span {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  background: #e2e1e1;
  padding: 6px;
  border-radius: 50%;
  color: #252525;
}

label, input {
  display: block;
}
input {
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
form button {
  background: var(--primary);
  border: 0;
  color: #fff;
  padding: 10px;
  font-family: "Poppins";
  border-radius: 4px;
  cursor: pointer;
}
div.error {
  padding: 10px;
  background: #ffefef;
  border: 1px solid var(--error);
  color: var(--error);
  border-radius: 4px;
  margin: 20px 0;
}

input.error {
  border: 1px solid var(--error);
}

.students-grid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(1fr, 2fr));
  gap: .25rem;
}

.student-details {
  background-color:#f0f0f0;
  padding:.5rem;
  border:1px solid #ccc;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr

}

.student-details > p {
  padding:.25rem;
}
